<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main Page</title>
  <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.10.1/css/all.css> <link rel="stylesheet"
    href="/styles/main_page.css">
  <link rel="stylesheet" href="/styles/nav_bar.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300i,400,500,600i,700&display=swap" rel="stylesheet">
</head>

<body>
  <% include partials/_navbar.ejs %>
  <header class="header-wrapper">
    <img  class="header-image" src="/docs/cake.jpg">
    <h1>Pick Me Up</h1>
  </header>
  <div class="content-wrapper">
    <nav class="scroll-menu-nav">
      <div class="search-toggle">
        <button class="search-icon"><i id="change-icon" class="fas fa-search"></i></button>
        <div class="search-container">
          <form action="/search" method="POST" style="margin-bottom: 0px;">
            <input list="food-names" class="search-input" name="name" placeholder="Search items.." autocomplete="off"/>
            <datalist id="food-names">
            </datalist>
            <button type="submit" name="submit" class="search-button"><i id="search-button" class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
      <a id="pastries" class="menu-item-btn" href="#menu">Pastries</a>
      <a id="cookies" class="menu-item-btn" href="#menu">Cookies</a>
      <a id="cakes" class="menu-item-btn" href="#menu">Cakes</a>
      <a id="pies" class="menu-item-btn" href="#menu">Pies</a>
      <a id="macarons" class="menu-item-btn" href="#menu">Macarons</a>
    </nav>

    <section class="menu-container">
      <table class="menu-item">

        <% for(let element of data) { %>
          <tr class = "<%= element['category']%> inside-menu">
            <td class="item-name"><%= element["item_name"] %></td>
            <td class="item-desc"><%= element["item_description"] %></td>
            <td class="item-price"><%= element["cost"] %></td>
            <td class="counter">
              <span class="minus"><i class="far fa-minus-square"></i></span>
              <input %>" class="menu-item-counter" type="text" value="0" readonly>
              <span class="plus"><i class="far fa-plus-square"></i></span>
            </td>
          </tr>
        <%}%>
      </table>
      <table class="checkout-container">
        <div class="checkout-container-submit-form">
          <form class="submit-form" action="/pay" method="POST">
            <% if (data.length){ %>
              <% if (data[0]["name"]) { %>
                <div class="form-rows">
                    <label class="submit-form-label" for="name">Name</label>
                    <input type="text" id="input-name" name="name" value="<%= data[0]["name"]%>" required>
                    <label class="no-name-in-submit-form" for="no-name-error">Enter in a name!</label>
                </div><br>
                <div class="form-rows">
                    <label class="submit-form-label" for="phone">Phone Number</label>
                    <input type="text" id="input-number" name="number" value="<%=data[0]["phone_number"]%>" required>
                    <label class="no-number-in-submit-form" for="no-number-error">Enter in a phone number!</label>
                </div><br>
              <% } else { %>
                <div class="form-rows">
                  <label class="submit-form-label" for="name">Name</label>
                  <input type="text" id="input-name" name="name" placeholder="Name..." required>
                  <label class="no-name-in-submit-form" for="no-name-error">Enter in a name!</label>
                </div><br>
                <div class="form-rows">
                    <label class="submit-form-label" for="phone">Phone Number</label>
                    <input type="text" id="input-number" name="number" placeholder="Phone Number..." required>
                    <label class="no-number-in-submit-form" for="no-number-error">Enter in a phone number!</label>
                </div><br>
              <% } %>
            <% } %>
                <label class="submit-form-label" for="payment">Payment Method</label><br>
            <div class="form-rows" id="payment-methods">
                <label class="submit-form-label" for="payment-method-person">In Person</label>
                <input type="radio" id="payment-method-person" value="In person" name="rad-btn">
                <label class="submit-form-label" for="payment-method-credit">Credit Card</label>
                <input type="radio" id="payment-method-credit" value="Credit Card" name="rad-btn">
            </div>
            <div class="reveal-when-credit">
                <input type="text" class="require-if-active" placeholder="Credit card number" datat-require-pair="#payment-method-credit" name="input-credit-card">
            </div>
            <br><br>
            <button class="order-btn" type="submit">Submit</button>
            <button class="back-to-checkout-btn" type="button">Back to Checkout</button>
          </form>
        </div>
        <div class="final-message">
          Thank you for ordering!
        </div>
        <tr><td class="chk-out-total">Total: $0</td></tr>
        <tr><td colspan="4" class="checkout-btn">CHECKOUT</td></tr>
      </table>
    </section>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
